[2018-04-05 10:30] notdrone opened #1 "Full screen video not respecting orientation lock"
If a app is displaying a video in full screen, and I rotate the device to portrait, the video exits from full screen mode even when the orientation is locked

[2018-04-06 16:37] DajoRamos commented on #1
Hi, I am also experiencing this issue every time i watch a video.

[2018-04-06 16:41] dachev commented on #1
Thanks for the feedback. We have a fix in place. It will be released next week.

[2018-04-07 05:29] THEKINGIII opened #2 "Video speed control button has weird behaviour"
### Steps to Reproduce

1. Play any video.
2. click on video speed control button to increase or decrease video playing speed.
3. Pause the video and click again on that button.
4. Click on the same button for another time.

### Actual and Expected Result

**Expected:**
While playing or pausing the video, playing speed should increase or decrease by 20%.

**Actual:**
While playing, the behaviour i

[2018-04-07 17:26] iamkennytso opened #3 "Notification when download fails"
A notification if a download fails would be nice. Otherwise I have to check to see if everything downloaded correctly.

[2018-04-08 18:18] elharony opened #4 "Allow storing offline content on SD Card"
I noticed that the courses are downloaded directly to the Internal Storage.

There should be an option to select the Storage Location from:
1. Internal Storage
2. SD Card

As many users don't have enough Internal Space.

[2018-04-08 18:31] elharony opened #5 "Where can I find the Downloaded Courses?"
## Briefly:
Where exactly can I find the downloaded courses in the Internal Storage?

## Explanation:
- I've checked my Internal Space, it was 1 GB free. The External was 13 GB free.
- Then tried to download a few lessons
- The Internal Space becomes 0

- After that; I've been searching through my Internal Space's Directories/Files and I didn't find the downloaded courses!

## How this can be fixe

[2018-04-09 04:09] lioneltay opened #6 "Bookmarks"
Adding bookmarks similar to the web app would be nice.

[2018-04-09 12:33] pragmaticpi commented on #5
Also, I checked my android folder, there was no mention of your android package files. A few hours back, I downloaded one course. It indeed using internal storage. But how come your downloaded files does not have a name.

[2018-04-09 15:27] theUncanny opened #7 "[Feature Request] View (and download) video subtitles"
Like the web version, it would be interesting to have the possibility of viewing (and download for offline viewing) the subtitles of each video, a feature that is especially useful for users who are not native English speakers.

[2018-04-15 18:36] Fetz opened #8 "Course/Video progress not consistent"
# Preconditions
- Device: OnePlus 5 Android 8
- Happens both with Wifi and mobile signal

# Steps to Reproduce
1. Start watching some courses videos
2. After watching a couple of videos of the course change to some other app
3. Go back to frontendmasters app

# Expected:
I'm expecting to go back to the video I was previously watching. And the progress to be correct.

# Actual:
Goes to some video p

[2018-04-15 18:41] Fetz commented on #8
By the way, an Issue template would be useful for creating issues https://blog.github.com/2016-02-17-issue-and-pull-request-templates/

[2018-04-15 18:46] Fetz commented on #8
By the way in the FrontEnd Masters website is showing the correct progress

[2018-04-16 05:36] pradeepb6 commented on #5
+1

[2018-04-16 17:02] dachev commented on #2
@THEKINGIII This has been fixed in 1.0.1

[2018-04-16 17:02] dachev commented on #1
@notdrone @DajoRamos This has been fixed in 1.0.1

[2018-04-18 16:16] dachev commented on #3
@brentmn I made the in-app notifications "sticky" and published a new build (78).

[2018-04-19 08:24] #1 closed

[2018-04-19 14:26] sb7896 opened #9 "[Feature Request] Cancel All button to cancel all started downloads"
It would be nice to have a **Cancel All** button just like the **Download All** button we have. When I click on Download All button it starts downloading all the videos, but if due to some unforeseen reason any video fails to download, it doesn't start downloading automatically. I have to manually click on **delete** (_cross_) button for every **failed** video. It would be nice to have **Cancel Al

[2018-04-21 15:17] kellyjensen opened #10 "Chromecast support"
Please add support for Chromecast!  👍

The app is wonderful so far thank you for providing the ability to download the courses.  Being able to watch them on my TV via Chromecast will level up the app even more!

[2018-06-13 09:16] dachev commented on #9
@sb7896 I believe this is fixed.

[2018-06-13 09:16] #9 closed, assigned to nobody

[2018-07-05 09:58] eeston opened #11 "Bookmark sync issue"
Syncing bookmarks between web and android doesn't seem to work correctly.

Device: Pixel 2, Android P
1. Bookmark a course on the web
2. Go to bookmarks on the mobile app

Expected:
To see the course in the bookmarks section

Actual:
Some courses are there, but not all.

Further info:
Course name: JavaScript: From Fundamentals to Functional JS, v2
Shows as bookmarked if you manually search on andr

[2018-07-05 17:43] dachev commented on #11
@johneas10 This could be a client-side caching issue. Can you please restart the app and check one more time - it'd be very helpful.

Thanks,
Blago

[2018-07-05 18:49] eeston commented on #11
Hi @dachev

Tried restarting app.
Tried clearing cache & clearing storage then logging back in.

Same issue occurs,

[2018-07-15 02:36] brentmn opened #12 "Link to signup on login screen"

[2018-07-15 02:37] #12 closed, assigned to nobody

[2018-07-19 18:16] brentmn commented on #11
Hi @johneas10, this was an API issue. We just deployed a fix. Can you take a look?

[2018-07-19 18:16] #8 closed, assigned to dachev, brentmn

[2018-07-19 18:17] #6 closed

[2018-07-19 18:17] #7 closed

[2018-07-19 18:17] #3 closed

[2018-07-24 16:00] eeston commented on #11
Seems to be syncing correctly now. Thanks for the fix!

[2018-07-24 18:47] #11 closed, assigned to dachev

[2018-08-03 12:05] markadrake opened #13 "Allow Video (Audio) to Continue Playing in Background"
**Feature Request**

When the Frontend Masters Android App (app) loses focus or context, I'd think that the audio from the currently playing video should still be played. Though it's probably covered in the statement above, shutting off the screen to my device should also allow the audio to continue playing.

I've really become accustomed to listening to podcasts and training videos in the backgro

[2018-09-21 14:20] jzabala opened #14 "Video player stops playing after activating CC"
### Preconditions

Device: BLU R1 HD, Android version 6.0
1. Connected to wifi
2. Logged in
3. Watching videos online. Not downloaded ones

### Steps to Reproduce
1. Start watching a video online. Not downloaded.
2. Tap CC
3. Change to another video. Not downloaded.

### Actual and Expected Result

**Expected:**
The video player should play the video and show the captions.

**Actual:**
The video p

[2018-10-25 00:22] OrionSkywalker opened #15 "There's no way to create an account"
When the app is downloaded there is a prompt to sign in however there is no way to create an account

[2018-10-25 00:30] dachev commented on #15
@OrionSkywalker This is already available in the latest release (1.3.4).

[2018-10-25 09:51] notdrone-1 opened #16 "Ability to disable autoplay when opening a course"
Would it be possible to add a way to disable autoplay when opening a course from the course list screen?

[2018-10-25 10:03] notdrone-1 opened #17 "Course progress is incorrect"
The course progress in the app does not match the ones on the website
![screenshot_20181025-152502_frontend masters](https://user-images.githubusercontent.com/5713737/47492512-d1099800-d86a-11e8-8490-41721e19f84a.jpg)
I haven't started any of these courses yet.
My guess is that the recycler view is recycling the progressbar for courses that haven't been started yet (no/`null` progress) as the prog

[2018-10-27 05:25] #15 closed, assigned to nobody

[2018-12-10 20:11] dachev commented on #16
@brentmn This is ready for testing

[2018-12-10 20:12] dachev commented on #14
@brentmn This is ready for testing

[2018-12-10 22:50] brentmn commented on #16
👍

[2018-12-15 16:19] brentmn commented on #17
@notdrone, are you still seeing this issue? I've been testing from time to time but have not witnessed this behavior.

[2018-12-17 12:34] notdrone-1 commented on #17
Yes. Here a video that reproduces the issue: https://photos.app.goo.gl/BishdwePQSxCHwDm8
I haven't started the first three courses (which is shown correctly when I launch the app). But as I scroll back and forth, they pick up the progress of some random course.

[2018-12-17 13:57] dachev commented on #17
@notdrone Thanks for the video. I think we have a pretty good idea what's causing this bug now. It will be fixed in the next release and we'll give you a heads up.

[2018-12-30 17:02] notdrone-1 commented on #17
working now. Thank you!

[2018-12-30 17:02] #17 closed, assigned to dachev

[2019-01-08 10:07] dachev opened #18 "Auto-rotate video to the correct orientation when going horizontal (fullscreen)"
Currently, it always rotates left.

[2019-01-08 10:24] dachev opened #19 "Allow users to choose offline and streaming video bitrate"

[2019-01-08 11:08] notdrone-1 opened #20 "Audio and video not in sync when watching at faster speeds"
Seeing this on iOS as well (iPhone 6)

[2019-01-10 09:29] HishamMubarak commented on #19
Really looking forward to 480p or 360p support in mobile app.

[2019-01-10 09:31] HishamMubarak commented on #18
Another great feature I am looking for. Looking forward to it.
By the way, thanks for a great learning platform and an app to assist it.

[2019-04-22 14:47] laniehei opened #21 "Audio/video out of sync when paused/restarted"
bug occurred when not connected to wifi in area with alright connection

[2019-04-23 15:25] laniehei commented on #21
closing and moving to other repo

[2019-04-23 15:25] #21 closed, assigned to dachev

[2019-05-07 10:02] dachev commented on #18
Steps to reproduce:

 1. Play video in horizontal orientation, with the top of the phone pointing to the right
 2. Without changing the orientation, tap the exit fullscreen button to switch to portrait
 3. Without changing the orientation, tap the enter fullscreen button to switch to landscape

Expected: video is facing the user
Actual: Video is upside down

[2019-05-07 10:03] dachev commented on #18
@brentmn this is ready for testing

[2019-05-10 16:10] #10 closed, assigned to dachev

[2019-05-10 16:10] #14 closed, assigned to dachev

[2019-05-10 16:10] #16 closed, assigned to dachev

[2019-05-31 13:00] #18 closed, assigned to dachev

[2019-06-06 02:18] brentmn opened #22 "Lessons downloaded before CC made available do not display CC when CC made available"
This is an edge case I ran into today. Often we release courses a day or two before the captions are made available. If a user downloads lessons when there are no captions available, those downloaded lessons fail to show the captions (or the CC button), even after the captions are made available.

Deleting the downloaded lessons, and re-watching, and even re-downloading, after the captions are mad

[2019-09-15 16:45] markadrake commented on #13
Hi @dachev,

I would like to follow up on this issue and see where it stands with the team at Frontend Masters. There's no code in this repo unfortunately, but if you were open to contributions I think I could devote some time to making this happen.

I have some experience building cross platform apps in Xamarin, dabbled with iOS and Android for platform specific code where needed. It wouldn't hur

[2019-09-18 21:26] dachev commented on #13
Hi @markadrake,
Thank you for offering your help but unfortunately, we can't share the source code because the app is not open source.

We are wrapping up a series of new features due to be released in the next few weeks and when we are done with that we'll get together to plan our next steps.

I can assure you that this issue will be considered for development this fall/winter season.

Blago

[2019-09-21 01:20] oluwatbi commented on #5
Same issues here

[2019-10-09 12:51] lecollage commented on #5
I have the same.
I tried to look for this directory but didn't find it. I thought that I would find it and create a link to SD card. I don't understand how it's possible. Does this application create a kind of hidden directory?

[2019-10-31 06:21] KhaingThinzarliHtet commented on #22
This bug is still now.

[2019-10-31 22:47] antoniosamay commented on #5
Any updates on this issue?

[2019-11-07 09:06] dachev commented on #5
Hello from the team,

After debating the issue internally we agreed that it's important to allow storing downloads on external media. This will give Android users the freedom to save as much offline content as they desire, bypassing the capacity limitations imposed by their device.

However, we would have to protect the content from playback on unauthorized devices due to the following reasons:

[2019-11-07 09:06] #5 closed

[2019-11-07 09:07] dachev commented on #4
Hello from the team,

After debating the issue internally we agreed that it's important to allow storing downloads on external media. This will give Android users the freedom to save as much offline content as they desire, bypassing the capacity limitations imposed by their device.

However, we would have to protect the content from playback on unauthorized devices due to the following reasons:

[2019-12-03 14:58] lokesh1729 opened #23 "Must support fire tv too"
Hey,

I installed this app in my fire stick through apk file, but unfortunately app is not even opening.. I request you to support fire tv too, it would be wonderful to have option to watch on TV

[2019-12-07 07:34] lokesh1729 commented on #23
waiting to hear on this @dachev

[2019-12-13 16:14] dachev commented on #23
Hi @lokesh1729. We are always working hard to expand our reach and add new platforms. Unfortunately, at this moment we can't commit to a timeline for Fire TV.

[2019-12-26 15:38] chucksteinmn opened #24 "if download fails prompt user to change the setting to permit cellular downloads"

[2020-01-07 15:32] marpesia opened #25 "Offline navigation"
Case scenario: the subway without connection.

Actual:
Right now the app is trying to access to the server online in order to check my credentials or get the course info. So if I want to watch my downloaded videos I have to access to the course page before loose my connection.

Expected:
It would be great to have offline navigation. If I'm already logged, store locally my data and courses in order

[2020-01-08 15:28] dachev commented on #25
Hi @marpesia. Thank you for the report. The app should allow you to navigate courses that have at least one download even when you are offline. Here is a video for reference: https://youtu.be/4AvObwj4x6c. Are you seeing something else on your device?

[2020-01-08 15:58] marpesia commented on #25
Oh, that works!
I had the issue last month, in the subway.
The app keeps loading if I hadn't open the app previously. I also tested to open it before loose connection but had same issue in the general courses page. But now works.
I'll be watching in order to report any changes.
Thanks :)

[2020-01-08 15:58] #25 closed, assigned to nobody

[2020-01-08 16:04] dachev commented on #25
@marpesia It might take a little longer if the network situation is more ambiguous, like in the subway, and the app thinks that it has a shot at loading fresh data, but it should scuttle the attempt and fall back to local data after 3 or 4 seconds. Let me know if anything changes or new information comes in.

[2020-01-08 16:10] marpesia commented on #25
I guess I hadn't download any video from that specific course. I use to delete all after finish a course so it's possible not to have any download video at that moment.

[2020-01-27 04:33] lokesh1729 commented on #19
looking forward to this to change the quality/resolution manually

[2020-03-09 05:56] dachev opened #26 "Show empty result indicator in search screens"

[2020-03-09 05:57] dachev opened #27 "Persist list state when navigating back to a list view"

[2020-04-06 07:55] dachev opened #28 "Double tap to forward/rewind"

[2020-04-13 19:46] andresmonterodev opened #29 "can´t login on Android"
Issue Description

Device: Xiaomi Mi Note Pro, Android version 10
1. Connected to wifi and 4g as well
2. Logged in my phone browser on that account without problems

Steps to Reproduce

1. Log in
2. Only see a dismiss button, and nothing more happens
3. Logout browser on phone and laptop, nothing change
4. Reinstall app and clear cache, nothing change

Actual and Expected Result

Expected:
Login o

[2020-04-14 03:56] dachev commented on #29
Hello. Please email support@frontendmasters.com with your account details and we'll be happy to help you.

[2020-04-14 04:46] andresmonterodev commented on #29
Yeah right, Chuck from Support try to help and send me to GitHub. Anyway,
thanks for You Now.

El mar., 14 de abril de 2020 12:56 a. m., Blagovest Dachev <
notifications@github.com> escribió:

[2020-04-14 04:49] dachev commented on #29
Sorry about the confusion. I'll take a look at the back end.

[2020-04-14 05:13] andresmonterodev commented on #29
Nah don't worry, it should be a weird problem with Xiaomi Miui
customization layer. Mostly my issue report it's goes more to the lack of a
error display with that dismiss button.its tells you nothing about the
error, if it's password related, account doesn't exist, the backend dont
want a Chinese phone on that server, I don't know.

Thanks for your time

El mar., 14 de abril de 2020 1:50 a. m., Bl

[2020-04-14 13:03] dachev commented on #29
@codeagainst I see, thanks for the heads up. We'll fix that. I think you are unable to login because your device date/time is off. Can you make sure the time is correct and try again?

[2020-04-14 15:25] andresmonterodev commented on #29
That's it, my home country has a very stupid change hour,against everyone,
and doesn't show me the correct hour if I setup automatically time setup,
but just enable and it's works ok.

Bye the way I see the error message with the dismiss button, kudos for that.

Thanks for your time ;)

El mar., 14 de abril de 2020 10:03 a. m., Blagovest Dachev <
notifications@github.com> escribió:

[2020-04-27 17:41] lokesh1729 opened #30 "show video annotations (links, errata like in web)"
show video annotations (links, errata like in web) and notes

[2020-04-28 10:20] dachev commented on #30
Hi @lokesh1729. Thank you for the feature request. We are planning to release the Notes functionality very soon so I'll edit the ticket to make it about annotations only.

[2020-04-28 10:22] lokesh1729 commented on #30
@dachev  : sure, but video annotations are very important than notes in my opinion

[2020-04-28 10:32] dachev commented on #30
@lokesh1729 I am simply changing to ticket name to reflect the fact the notes functionality is already complete and we need to work on annotations.

[2020-04-28 10:34] lokesh1729 commented on #30
@dachev yes agreed on that but am saying that in my opinion you could have implemented or prioritised annotations than notes 😉

[2020-04-30 15:22] cdking007 opened #31 "Video player"
There is some issue in video player of android app in latest version.
its cropping the video player on the full screen.
see below attachment of screen shot
![Screenshot_20200430-200709](https://user-images.githubusercontent.com/39514257/80728388-7f5b6100-8b24-11ea-80ec-2951dc0c9e6e.png)

[2020-05-01 14:11] dachev commented on #31
We have also seen white padding on both sides of the player with some devices. This has been fixed and will be released soon.

[2020-05-01 18:17] cdking007 commented on #31
thank you :-)

[2020-05-08 03:56] dachev commented on #31
@cdking007  This should be fixed now. Please download 1.10.1 and let us know if the problem persists.

[2020-05-08 03:56] #31 closed, assigned to dachev

[2020-05-13 19:32] bcye opened #32 "Network Error when trying to access offline videos"
I've downloaded some offline videos. When I navigate via the sidebar to "offline courses" while disconnected to the internet it shows me a network error and a try again button.

Can I not access offline content without an internet connection?

[2020-05-14 04:32] dachev commented on #32
Hello Bruce. Thanks for reporting this issue. We'll investigate and we'll let you know when we know more.

[2020-05-14 10:51] #29 closed, assigned to nobody

[2020-05-14 21:48] djalilhebal opened #33 "Add Support for Automatically Retrying Failed Downloads"
Downloads fail often, even on 4G connections.

I usually end up manually searching for failed videos and clicking on each one to retry downloading.

There's should be some kind of "Retry/Resume All" functionality, either automatically or the "Download All" button should handle that case, maybe.

[2020-05-14 22:06] djalilhebal opened #34 "Titlebar appears on fullscreen"
Scenario:
- Start watching a video in fullscreen.
- A Messenger Chat Head appears.
- Android's titlebar appears and never goes away (even when the Chat Head is discarded).

Currently, the only way to "hide" it is to exit fullscreen mode and re-enter it.

**Additional information:**
- App version: 1.10.2
- Android version: 8.1

[2020-05-15 10:10] dachev commented on #34
@djalilhebal I'm not sure I know what a Messenger Chat Head looks like. Would you be able to upload a screenshot or explain?

[2020-05-15 16:07] djalilhebal commented on #34
Fullscreen, normal:
![Screenshots:Screenshot_20200515-163026](https://user-images.githubusercontent.com/32184973/82071583-37b10980-96ce-11ea-8fc2-34564db48301.jpg)

Fullscreen, interrupted. The titlebar appears:
![Screenshots:Screenshot_20200515-163750](https://user-images.githubusercontent.com/32184973/82071595-3bdd2700-96ce-11ea-8f6a-8134e991bc20.jpg)

The titlebar stays visible:
![Screenshots:S

[2020-05-17 19:21] SOG-web opened #35 "Full screen mode is not working anymore"
Before i updated the app to the new version i could use the full screen mode but after the update full screen mode did not work again

Before update
![Screenshot_20200517-195422](https://user-images.githubusercontent.com/61606062/82157863-d9c22480-987b-11ea-876f-6c0779ae6a5d.png)

After update
![Screenshot_20200517-195132](https://user-images.githubusercontent.com/61606062/82157875-f52d2f80-987b-1

[2020-05-18 02:18] dachev commented on #35
@SOG-web Thank you for reporting this. We are investigating.

[2020-05-18 02:19] dachev commented on #34
Thank you @djalilhebal. We'll investigate.

[2020-05-18 13:05] dachev commented on #35
@SOG-web What is your device and android version?

[2020-05-18 16:22] SOG-web commented on #35
Android device

[2020-05-18 16:29] dachev commented on #35
@SOG-web Can you share your device model number and android version?

[2020-05-18 17:29] SOG-web commented on #35
model : Infinx X559C

Android version : 7.0

[2020-05-20 08:31] SOG-web commented on #35
Hello

[2020-05-20 08:33] dachev commented on #34
@djalilhebal  This should be fixed now. Let us know if you are still experiencing this problem after upgrading to 1.10.3.

[2020-05-20 08:33] #34 closed, assigned to nobody

[2020-05-20 08:34] dachev commented on #35
Thank you @SOG-web! We are investigating.

[2020-05-20 12:52] dachev commented on #35
@SOG-web Can you upgrade to 1.10.3 and test if this is still happening. If so:

1) Does rotating your phone change the view orientation?
2) Does rotating your phone help bring the player fullscreen?
3) Does taping the fullscreen button (see the screenshot) help?

<img width="468" alt="Screen Shot 2020-05-20 at 7 50 04 PM" src="https://user-images.githubusercontent.com/66780/82447996-48e58600-9ad3-

[2020-05-20 18:20] SOG-web commented on #35
None of it is working

[2020-05-20 18:31] SOG-web commented on #35
1. Yes
2. No, but whenever i put my phone on rotation and i rotate it to landscape, it still brings it n0t good, but when i rotate my phone back to portrait mode it brings full screen portrait but not full screen landscape

On landscape mode
![Screenshot_20200517-195132](https://user-images.githubusercontent.com/61606062/82484116-6154a100-9ad1-11ea-8f4e-b55bc993e748.png)

Back to portrait mode
![S

[2020-05-25 09:40] dachev commented on #35
@SOG-web We've identified the issue and we are working to fix it. Thanks for your patience.

[2020-05-25 14:28] SOG-web commented on #35
no problem

[2020-05-25 21:33] SOG-web commented on #35
Thanks, the new version update is working

[2020-05-26 05:46] dachev commented on #35
For documentation purposes, this has been fixed in 1.10.5

[2020-05-26 05:46] #35 closed, assigned to nobody

[2020-05-26 16:01] souravdasslg opened #36 "Manual control on Video Quality"
I think it will be really great to have the video quality control settings on the android app.
Since I found that "adaptive video quality" is not very stable and reliable in the app, I guess its really good to have a video quality button in the player itself.

[2020-05-26 16:07] dachev commented on #36
duplicate of #19

[2020-05-26 16:07] #36 closed, assigned to nobody

[2020-05-27 02:10] longdhit opened #37 "Can't choose video quality"
I think we need support to choose video quality
I watch by my ipad it's seem not clear

[2020-05-27 03:38] dachev commented on #37
@longdhit Vietnam has been experiencing country-wide connectivity issues due to a damaged undersea cable. This is causing the adaptive video stream to fail even at the lowest quality setting. That being said, we already have an issue for this feature here: #19. Closing as a duplicate.

[2020-05-27 03:38] #37 closed, assigned to nobody

[2020-05-27 05:16] dachev commented on #32
@bcye We have identified the issue and we are working to fix it. Thanks for your patience!

[2020-05-31 05:43] dachev commented on #32
@bcye This should be fixed in the latest build that we released yesterday. Let us know if it's still not working.

[2020-05-31 05:43] #32 closed, assigned to nobody

[2020-06-03 03:39] soubhikchatterjee opened #38 "Feature Request: Missing length of each course."
Hello

I have a premium account at FEM.

I use your android app to watch the courses. What i think is missing in the app is the length of each course is not shown anywhere.

Can you please include the same in the app?

thanks

[2020-06-06 20:51] Joshuafolorunsho commented on #19
This is really important. I'm on a limited plan right now. I would love to see more courses but I can't

[2020-07-23 17:36] rishavbharti commented on #19
### It's been almost 1½ year since this feature was requested but still it hasn't been actioned upon.
Currently it seems that the video streams at 240p. _It becomes extremely difficult to read the code_. **Kindly provide an option to stream videos at higher resolution.**

[2020-07-23 17:44] rishavbharti commented on #19
### It's been almost 1½ year since this feature was requested but still it hasn't been actioned upon.
The adaptive video streaming doesn't work well on my phone, it seems that the video streams at 240p.
**_It becomes extremely difficult to read the code_.** **Kindly provide an option to stream videos at higher resolution.**

[2020-07-24 18:32] Tirnoch opened #39 "Probable Resolution Issue"
Device: Xiaomi Redmi Note 8 Plus, Android version 10
Preconditions:
Connected to wifi, logged in.

Steps to Reproduce:
Log in. Navigate to the professional part of the guided path and try to watch any video from the first two courses.

Expected:
Fullscreen mode working properly.

Actual:
The bottom right corner of the video, where total time sits, overflows the screen slightly.  The actual content

[2020-07-24 18:44] Tirnoch opened #40 "Dark mode"
A dark mode theme would help us using the app at night time. Getting flashed for trying to switch courses or videos is not ideal.

[2020-10-31 15:25] dachev opened #41 "Implement password reset"

[2020-12-12 15:14] dachev opened #42 "Change playback speed UI improvements"
A collapsable menu (just like how it is on desktop version) as an option would suit the app better when trying to change the playback speed as it is not intuitive nor efficient to tap 6 times to switch between let's say 1.8x to 1.6x.

[2020-12-12 15:15] dachev commented on #40
@Tirnoch I split your request into two different issues. The playback speed UI is now here: https://github.com/FrontendMasters/android-issues/issues/42

[2020-12-27 06:15] Vansh1411 commented on #19
The only thing which is needed is video quality selection in settings so people can clearly see the code and quality of videos is according to the user. seriously not expecting this from frontend masters

[2021-01-07 00:51] nbogie commented on #28
+1 to this.  It's really difficult on a phone to rewind a little.  The scrub bar at the bottom is very small and very inaccurate - where you might want to go back just 10 seconds you may end up being taken back many minutes, depending on the length of the section currently playing, and how fat your fingers are.

A "back-ten-seconds" button would also be ok but the UI is already overly small on pho

[2021-01-07 06:34] dachev commented on #28
Hi @nbogie. There should be skip/rewind buttons in the player controls. Do you see those on your phone? See the attached screenshot for reference.

![Screenshot_2021-01-07-13-29-20-59](https://user-images.githubusercontent.com/66780/103859634-f520bf00-50ec-11eb-9a79-0e53d2f02305.png)

[2021-02-10 06:50] leoossa opened #43 "Feature request: sorting, custom ordering, playlist"
When you open app it shows you course you recently watched. I'd like to have sorting i.e. 'recently added' (published), 'recently downloaded', 'recently watched', etc. Also I'd like to have custom playlist where I can add videos / courses in my order.
This feature can help when you sometimes want to preview different course or you seek something in different video and therefore app puts that video

[2021-02-10 06:58] leoossa opened #44 "Enhancement: Continue watching should be smart(er)"
Sometimes because of misclick (you try to download latter video, or just misclick while navigating) you end up starting playing video that's ahead of course you currently watch. Then after clicking 'Continue watching' app starts playback from the video that's ahead instead of 'continuous playback' which is i.e. when you've seen 7 videos in order and then have misclicked 10th video it should take y

[2021-03-01 16:22] dachev commented on #41
This is released: v1.16.0

[2021-03-01 16:22] #41 closed, assigned to dachev

[2021-03-01 17:41] DeepikaSharma5 commented on #4
Are you still not allowing to store in SD card. I have a device with 128GB and 78 GB data of Front end Master. It is very difficult to use a separate device for Frontend master only.

[2021-03-01 17:42] DeepikaSharma5 commented on #4
Are you still not allowing to store in SD card. I have a device with 128GB and 78 GB data of Front end Master. It is very difficult to use a separate device for Frontend master only.

[2021-03-02 06:43] dachev commented on #4
@DeepikaSharma5 We haven't done any work on this yet but it's getting closer on our radar.

[2021-03-11 01:16] Akin01 opened #45 "Cannot play video streaming (error when to play)"
![Screenshot_2021-03-09-11-11-33-494_in mjg frontendmasters store](https://user-images.githubusercontent.com/16496278/110720896-5890af80-824a-11eb-8914-571fd6c16283.jpg)

[2021-03-17 20:33] CtripleU opened #46 "Unable to download videos for offline viewing on Android app."
When the download icon is tapped, it shows a circle but never moves. Tried several times.

[2021-03-18 09:42] dachev commented on #46
@CtripleU Please email us at support@frontendmasters.com or get in touch from the Help menu option in the app, and we would love to assist you.

[2021-03-18 10:15] CtripleU commented on #46
Hello,

I already sent a mail to support and was instructed to add this issue on
github.

On Thu, Mar 18, 2021 at 10:47 AM Blagovest Dachev ***@***.***>
wrote:

[2021-04-27 13:13] zoneboy commented on #4
Can you please do this. I can't do anything useful with the internal memory download location. I have less than 2gb. How do you want me to learn.

[2021-05-30 22:36] oluwatobiloba2000 commented on #46
I am also having the same issue, I cannot download courses, the circle icon does not move.

[2021-07-20 15:13] paragkatoch commented on #28
@dachev yeah it is there, but sometimes while clicking those I often click the buttons around them, which results in video change and when I come back to the video, then its starts from starting rather than where I left off.

[2021-07-20 15:26] paragkatoch opened #47 "problems with full-screen mode"
There should be a video title over the video screen, right now when I am watching in full-screen mode, there is no way I can know the video title without turning off the full-screen mode.

Also when I turn off the full-screen mode, the list of lesson scrolls from the start to the current lesson, **Is that needed ?**, just showing the current lesson I am on instead of doing a scroll animation would

[2021-07-21 21:14] nbogie commented on #28
Hi, @dachev, yes, I see those and they'll do, thanks - not sure how I (presumably) missed them back in Jan!

[2021-08-18 05:28] marcinmilewicz commented on #4
Seriously, it's absolutely weird that so great platform does not support offline storing on external devices. Most of chromebooks does not have enough internal storage. I believe it should be most prioritized feature. I regret that I bought second annual sub because I have not possibility to use it outside.

[2021-10-15 15:15] mhasanrabbi opened #48 "Course videos are not playing. Video player is just loading the spinner. Changed password. Updated the app. Still not working. Web platform is working fine."
I am facing the issue for two days. It's working with the mobile browser with same wifi network. But in the app it's just loading.

[2021-11-20 06:38] dachev commented on #42
This is now live

[2021-11-20 06:38] #42 closed, assigned to dachev

[2021-11-20 07:37] kaivalya22 commented on #47
Same issue. It's so annoying

[2021-11-24 23:24] toreylittlefield opened #49 "Switching Back To App Video Does Not Play"
Updated to lastest Android version recently: 1.20.2.

Phone on Android 10.

Does not occur consistently, but noticed after updating the app I encounter this bug when switching back to the app and have a video playing. The video player will be a black screen with no controls. I have to exit the course and then press continuing watching to start playing the video again.

![Screenshot_2021-11-25-07-2

[2021-11-30 16:01] pravavlo opened #50 "Video time lapse doesn't work"
Menu button doesn't work to speed time

[2021-12-03 06:35] dachev commented on #50
@pravavlo The playback speed selector is working for me. What is your device? What is your app and android version?

[2021-12-05 13:22] dachev commented on #48
@mhasanrabbi is this still happening with the latest release?

[2021-12-05 14:25] mhasanrabbi commented on #48
Thanks. It's fixed now.

[2021-12-05 14:25] #48 closed, assigned to dachev

[2021-12-15 05:57] pravavlo commented on #50
my device is Huawei Y7 prime.. frontend masters is the app....android version is 8.0.0

[2021-12-15 06:20] dachev commented on #50
@pravavlo just to be sure, are you referring to the video speed selector?

[2021-12-18 05:46] pravavlo commented on #50
yes...video speed is exactly what I was referring to

[2021-12-23 01:54] #50 closed, assigned to dachev

[2022-01-25 15:21] dachev commented on #39
@Tirnoch this should be fixed in the latest release

[2022-01-25 15:21] #39 closed, assigned to dachev

[2022-01-25 15:22] dachev commented on #49
@toreylittlefield  this should be fixed in the latest release

[2022-01-25 15:22] #49 closed, assigned to dachev

[2022-01-25 15:25] dachev commented on #47
@preIdiot scrolling and back button interaction have been fixed. Feel free to create a new issue about the title suggestion.

[2022-01-25 15:25] #47 closed, assigned to dachev

[2022-01-26 22:56] Arjen-1 opened #51 "Cannot cast from android app to google chrome cast or philips tv with integrated chromecast."
It keeps spinning / loading for ever.
tried multiple chromecast devices. bug happens with all of them.
Other android apps i use are able to cast to the chromecasts without a problem.

[2022-01-27 11:35] dachev commented on #51
Hi @Arjen-1. We are in the process of making a new release. I'll ping you when it become available in the next few days.

[2022-01-27 13:23] Innocent9712 opened #52 "Cannot resume an active course video when I minimize the android app and return."
Whenever I'm on a course and I minimize the app for more than a miniute, I come back to a blank video screen and have to close the course and open it again.

[2022-01-27 13:31] dachev commented on #52
Hi @Innocent9712 We are in the process of making a new release. I'll ping you when it become available in the next few days.

[2022-02-01 09:11] Arjen-1 commented on #51
That would be awesome. When is the expected appstore / playstore update?

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Blagovest Dachev ***@***.***>
Sent: Thursday, January 27, 2022 12:35:23 PM
To: FrontendMasters/android-issues ***@***.***>
Cc: Arjen ***@***.***>; Mention ***@***.***>
Subject: Re: [FrontendMasters/android-issues] Cannot cast from

[2022-02-04 10:11] dachev commented on #51
@Arjen-1 You should be able to download 1.21.2 by Monday or Tuesday at the latest.

[2022-02-07 08:32] Arjen-1 commented on #51
Thanks. Can't check it right now. But will get back to you soon.

Cheers

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Blagovest Dachev ***@***.***>
Sent: Friday, February 4, 2022 11:11:47 AM
To: FrontendMasters/android-issues ***@***.***>
Cc: Arjen ***@***.***>; Mention ***@***.***>
Subject: Re: [FrontendMasters/android-issues] Cannot cast from an

[2022-02-10 11:46] #22 closed, assigned to nobody

[2022-03-14 15:50] dachev commented on #52
@Innocent9712 This should be fixed.

[2022-03-14 15:50] #52 closed, assigned to dachev

[2022-03-14 15:51] dachev commented on #51
@Arjen-1 This should be fixed now

[2022-03-14 15:51] #51 closed, assigned to dachev

[2022-03-18 15:14] Innocent9712 opened #53 "See course thumbnail when I pause video"
I now see course thumbnail when I press pause on a video. This is a problem for me as I would usually pause video to read something in that particular frame. And I can't do that because it just brings up the course thumbnail image when I pause it and resumes the video when I play.

[2022-05-31 12:17] dachev commented on #13
This was implemented a few months ago

[2022-05-31 12:17] #13 closed, assigned to nobody

[2022-05-31 12:20] dachev commented on #30
This was released a few months ago

[2022-05-31 12:20] #30 closed, assigned to dachev

[2022-06-11 20:45] cecilphillip opened #54 "Feature Request: Android TV Support"
On Android TV, I'm able to install a variety of video streaming apps which makes it convenient to switch from my laptop/phone/tablet to a larger screen. I do this today with some other video learning apps.

I tried doing this with the Frontend masters app, but it's not supported. This feature would be very a useful boost to my flow as it makes coding along easier since I'd have a larger screen and

[2022-06-11 21:07] 1Marc commented on #54
We don't have an Android TV standalone app, but you are currently able to use the app on your Android or iOS phone or tablet to stream out to the TV.

[2022-06-11 21:10] 1Marc commented on #54
We currently don't have an Android TV standalone app, but you still can play videos to your TV! Simply download the Frontend Masters app onto an Android or iOS phone or tablet, then you are able to airplay/stream it from your phone to the TV.

[2022-06-11 21:52] cecilphillip commented on #54
@1Marc I never notice that casting was available. I'll give that a try.
Also, you don't need a standalone app for Android TV. You can add support in an existing app if that's something you'd want to do => https://developer.android.com/training/tv/start/start

[2022-06-11 23:52] dachev commented on #53
This was fixed in v1.22.0

[2022-06-11 23:52] #53 closed, assigned to dachev

[2022-06-11 23:56] dachev commented on #19
This should be fully implemented as of v1.22.0

[2022-06-11 23:56] #19 closed, assigned to dachev

[2022-07-13 11:35] leonardolombardi07 opened #55 "Bug: Unable to log in on tablet device"
Device: Samsung Galaxy Tab S6 Lite, Android version 12.0

**Steps to Reproduce**
1. Try to log in on tablet
2. See the error message "Failed to login. Please try again.", even though the credentials are right

**Additional Information**
1. Successfully log in with the same credentials through the browser (on the computer and on the tablet) and through the android app on a mobile phone
2. Verified

[2022-07-13 12:54] brentmn commented on #55
@leonardolombardi07 , after checking the logs, it looks like the clock on your tablet might be off. That might be corrupting the request signature.

[2022-07-13 13:04] leonardolombardi07 commented on #55
Yes, the "Date and Hour" part of my tablet was set to "manual". Now it is "automatic" and I was able to log in. Thanks

[2022-07-14 13:20] #55 closed, assigned to nobody

[2022-08-12 15:43] learnmlcolab opened #57 "Casting not working for half of the videos of each course"
I'm using the cast feature to cast to my chromecast

I'm able to watch about the first half of each course, the rest is not working.

For example, in [this course](https://frontendmasters.com/courses/design-process/), I'm able to watch from the beginning to the [Prototyping Phase](https://frontendmasters.com/courses/design-process/prototyping-phase/) video, I could not watch the rest of the videos

[2022-08-14 00:35] dachev commented on #57
Hi @learnmlcolab. Thanks for the heads up. What happens if you quit Chromecast, skip forward to [Prototyping Phase](https://frontendmasters.com/courses/design-process/prototyping-phase/) locally, and then try to cast again?

[2022-08-17 14:03] learnmlcolab commented on #57
Hi @dachev, that's what I did to find the first video that doesn't work. I opened a random video near the end and did binary search until I found the first one that I couldn't cast: [Build & Live Phases](https://frontendmasters.com/courses/design-process/build-live-phases/) (the one after [Prototyping Phase](https://frontendmasters.com/courses/design-process/prototyping-phase/))

This also happens

[2022-08-22 08:00] dachev commented on #57
@learnmlcolab we need some more information in order to debug this issue. In order to protect your privacy, can you write to `support@frontendmasters.com` and we'll take it from there.

[2022-08-26 06:43] dachev commented on #40
@Tirnoch this was released in v1.23.0

[2022-08-26 06:43] #40 closed, assigned to dachev

[2022-09-27 08:50] dachev commented on #57
@learnmlcolab did you have a chance to connect with out support team via email? We need some more information but we want to protect your privacy.

[2022-09-30 21:09] ET-TOUNANI opened #58 "Feature Request: Search for Spoken Words in Videos"

[2022-10-04 04:57] #57 closed, assigned to dachev